<h1>Customer</h1>

<%= @customer.customer_first_name %>
<br>
<%= @customer.customer_last_name %>
<br>
<%= @customer.customer_email %>
<br>
<%= @customer.customer_phone %>
<br>
<%= link_to "Home", root_path %>