<h1>Edit Car</h1>

<%= form_for @car do |f| %>
	<%= f.label :make %>
	<%= f.text_field :make %>
	<br>
	<%= f.label :model %>
	<%= f.text_field :model %>
	<br>
	<%= f.label :year %>
	<%= f.text_field :year %>
	<br>
	<%= f.label :seats %>
	<%= f.text_field :seats %>
	<br>
	<%= f.submit %>
<% end %>